{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="P2P lending Marketplace">
    <meta name="author" content="Rishita Shaw">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}MaPayl{% endblock title %}</title>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->{% compress css %}
    <!-- This file stores project-specific CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext"
      rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet">{% endcompress %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
    <!-- Bootstrap JS and its dependencies-->
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->

    <!-- place project specific Javascript in this file -->{% compress js %}
    <script defer src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script defer src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script defer src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- jQuery Easing for smooth scrolling between anchors -->
    <script defer src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script defer src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script defer src="{% static 'js/validator.min.js' %}"></script>
    <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script defer src="{% static 'js/scripts.js' %}"></script>
    {% endcompress %}

    {% endblock javascript %}

  </head>

  <body data-spy="scroll" data-target=".fixed-top">
    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->


    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand logo-image" href="{% url 'home' %}">
          <img src="{% static 'images/1-removebg-preview.png' %}" height="100" alt="mapayl logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-awesome fas fa-bars"></span>
          <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="{% url 'about' %}">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle page-scroll" href="{% url 'borrow' %}" id="navbarDropdown"
                role="button" aria-haspopup="true" aria-expanded="false">Borrow</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#how-it-works"><span class="item-text">how it work</span></a>
                <div class="dropdown-items-divide-hr"></div>
                <a class="dropdown-item" href="#"><span class="item-text">loan types</span></a>
                <div class="dropdown-items-divide-hr"></div>
                <a class="dropdown-item" href="#"><span class="item-text">check your rate</span></a>
              </div>
            </li>
            <!-- end of dropdown menu -->
            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle page-scroll" href="{% url 'invest' %}" id="navbarDropdown"
                role="button" aria-haspopup="true" aria-expanded="false">Invest</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#how-it-works"><span class="item-text">how it work</span></a>
                <div class="dropdown-items-divide-hr"></div>
                <a class="dropdown-item" href="#benefits"><span class="item-text">benefits</span></a>
                <div class="dropdown-items-divide-hr"></div>
                <a class="dropdown-item" href="#"><span class="item-text">get started</span></a>
              </div>
            </li>
            <!-- end of dropdown menu -->


            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link page-scroll"
                href="{% url 'users:detail' request.user.pk  %}">{% trans "My Profile" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link page-scroll" href="/admin">{% trans "Admin" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link page-scroll" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            </li>
            {% else %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" class="nav-link page-scroll"
                href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link page-scroll"
                href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    </div>

    <div class="">

      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
          class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
      {% endfor %}
      {% endif %}

      {% block content %}{% endblock content %}


    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}
    <!-- Footer -->

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-col first">
              <h4>About MaPayl</h4>
              <p class="p-small">We're passionate about designing and developing one of the best marketing apps in the
                market</p>
            </div>
          </div> <!-- end of col -->
          <div class="col-md-4">
            <div class="footer-col middle">
              <h4>Important Links</h4>
              <ul class="list-unstyled li-space-lg p-small">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">Our business partners <a class="white" href="#your-link">startupguide.com</a>
                  </div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">Read our <a class="white" href="{%url 'terms'%}">Terms & Conditions</a>,
                    <a class="white" href="{%url 'privacy'%}">Privacy Policy</a>
                  </div>
                </li>
              </ul>
            </div>
          </div> <!-- end of col -->
          <div class="col-md-4">
            <div class="footer-col last">
              <h4>Contact</h4>
              <ul class="list-unstyled li-space-lg p-small">
                <li class="media">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="media-body">22 Innovative, San Francisco, CA 94043, US</div>
                </li>
                <li class="media">
                  <i class="fas fa-envelope"></i>
                  <div class="media-body"><a class="white" href="mailto:contact@MaPayl.com">contact@MaPayl.com</a> <i
                      class="fas fa-globe"></i><a class="white" href="#your-link">www.MaPayl.com</a></div>
                </li>
              </ul>
            </div>
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Template by Inovatik</a><br>
              Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            </p>
          </div> <!-- end of col -->
        </div> <!-- enf of row -->
      </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->
    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
  </body>

</html>
